# Visual Studio files
.vs/
bin/
obj/
*.user
*.suo


# App settings with secrets 
**/appsettings.json
**/appsettings.*json

# Keep the template 
!**/appsettings.example.json

# Docker volumes 
*.db

# Rider/VS
.idea/
*.DotSettings.user

# Build outputs
Debug/
Release/

# VS Code / IDE
.vscode/

# Logs
*.log